<div class="container py-4 d-flex justify-content-center">
    <div class="w-100" style="max-width: 80%;">
        <h2 class="mb-4 text-center">Lista de Empleados</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-hover aling-middle text-center">
                <thead class="table-primar">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Especialidad</th>
                        <th scope="col">Años de experiencia</th>
                        <th scope="col">Ciudad</th>
                        <th scope="col">Telefono</th>
                    </tr>
                </thead>
                <tbody>
                    @for (empleado of misDoctores; track empleado.id){
                        <tr>
                            <td>{{ empleado.id }}</td>
                            <td>{{ empleado.nombre }}</td>
                            <td>{{ empleado.especialidad }}</td>
                            <td>{{ empleado.anios_experiencia}}</td>
                            <td>{{ empleado.ciudad}}</td>
                            <td>{{ empleado.telefono }}</td>
                            <td>
                                <img [src]="empleado.foto"
                                class="rounded-circle shadow-sm"
                                width="60" height="60" 
                                alt="Foto de {{ empleado. nombre}}">
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>